footer {
  background-color: $text_color;
  color: $sub_color !important;
  a {
    color: $sub_color !important;
  }
  .footer-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-top: 2rem;
    padding: 4rem 1.7rem;
    line-height: 2;
    .head {
      font-size: 1.2rem;
    }
    @media (max-width: 1280px) {
      width: 95%;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 520px) {
      font-size: 1rem;
      li {
        font-size: 0.9rem;
      }
      grid-template-columns: 1fr;
    }
  }
}
