* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-moz-selection {
  background: $main_color;
}
::selection {
  background: $main_color;
}
::-moz-selection {
  background: $main_color;
}
body {
  font-family: $font_family;
  color: $text_color;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $text-color;
}
h1 {
  text-shadow: 2px 2px 5px $text_color;
}
p {
  text-shadow: 2px 2px 5px $text_color;
}
.bold {
  font-weight: 900;
}
.semi-bold {
  font-weight: 700;
}
.regular {
  font-weight: normal;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.bg-theme {
  background: $main_color;
}
.text-theme {
  color: $text_color;
}
.text-sub {
  color: $sub_color;
}
.border {
  border-radius: 25px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.border-2 {
  border-radius: 50px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  transition: 0.4s;
  &:hover {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
}
.img-width {
  width: 100%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-head {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
  h1 {
    font-size: 2.4rem;
  }
  @media (max-width: 1024px) {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
    h1 {
      font-size: 2rem;
    }
  }
  @media (max-width: 600px) {
    .section-head {
      width: 95%;
      margin: auto;
      margin-bottom: 2rem;
      text-align: center;
      h1 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}
.btn {
  cursor: pointer;
  padding: 0.7rem 1.8rem;
  border: 2px solid $main_color;
  background-color: $main_color;
  box-shadow: 0px -1px 3px 0px $main_color;
  -webkit-box-shadow: 0px -1px 3px 0px $main_color;
  -moz-box-shadow: 0px -1px 3px 0px $main_color;
  text-shadow: 1px 1px 7px $sub_color;

  transition: 0.4s;
  &:hover {
    color: $main_color;
    background: $sub_color;
  }
}
.btn-inverted {
  border: 2px solid $sub_color;
  transition: 0.4s;

  &:hover {
    color: $sub_color !important;
    background: $main_color;
  }
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-flex-start {
  justify-content: flex-start;
}
.flex-row {
  flex-direction: row;
}

@media (max-width: 1024px) {
  .flex-column-1024 {
    flex-direction: column;
  }
}
