@import "./Vars";
@import "./Utilities";
@import "./components/header";
@import "./components/welcome";

.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.575)),
    url("../images/bg6.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  p {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  @media (max-width: 480px) {
    .welcome {
      min-height: 150vh !important;
    }
  }
}
.filter-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .filter {
    margin: 0.5rem 1rem;
    color: $text_color;
    cursor: pointer;
    border-color: $text_color;
    &:hover {
      border-color: $main_color;
    }
    &.active {
      border-color: $main_color;
      background: $main_color;
      color: $sub_color;
    }
  }
  @media (max-width: 560px) {
    font-size: 0.8rem;
    .filter {
      margin: 0.5rem;
    }
    .btn-inverted {
      padding: 0.3rem 1rem !important;
    }
  }
}
.portfolio-grid {
  img {
    width: 100%;
  }
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .portfolio-item {
    margin: 0.3rem;
    position: relative;
    img {
      position: relative;

      height: 100%;
      width: 100%;
    }
    &:hover {
      .text {
        opacity: 1;
      }
    }

    .text {
      cursor: pointer;
      position: absolute;
      h1 {
        width: 100%;
        text-align: center;
      }
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.658);
      opacity: 0;
      transition: 0.4s;
      color: $sub_color;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .btn {
        font-size: 0.8rem;
        margin-top: 2rem;
        padding: 0.5rem 1rem;
      }
    }
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 800px) {
    .text {
      font-size: 0.8rem;
      line-height: 0;
      h1 {
        padding-bottom: 0rem !important;
        line-height: 1.3;
      }
      .btn {
        font-size: 0.7rem !important;
        margin-top: 0rem;
        padding: 0.1rem 0.2rem;
      }
    }
  }
  @media (max-width: 560px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 380px) {
    grid-template-columns: 1fr;
  }
}
@import "./components/call_to_action";
@import "./components/footer";
