* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

::-moz-selection {
  background: #26cffe;
}

::selection {
  background: #26cffe;
}

::-moz-selection {
  background: #26cffe;
}

body {
  font-family: "Nunito", sans-serif;
  color: #345057;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #345057;
}

h1 {
  text-shadow: 2px 2px 5px #345057;
}

p {
  text-shadow: 2px 2px 5px #345057;
}

.bold {
  font-weight: 900;
}

.semi-bold {
  font-weight: 700;
}

.regular {
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.bg-theme {
  background: #26cffe;
}

.text-theme {
  color: #345057;
}

.text-sub {
  color: white;
}

.border {
  border-radius: 25px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.border-2 {
  overflow: hidden;
  border-radius: 50px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.border-2:hover {
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.img-width {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-head {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.section-head h1 {
  font-size: 2.4rem;
}

@media (max-width: 1024px) {
  .section-head {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
  }
  .section-head h1 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .section-head .section-head {
    width: 95%;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
  }
  .section-head .section-head h1 {
    font-size: 1.7rem;
  }
  .section-head .section-head p {
    font-size: 1.1rem;
  }
}

.btn {
  cursor: pointer;
  padding: 0.7rem 1.8rem;
  border: 2px solid #26cffe;
  background-color: #26cffe;
  box-shadow: 0px -1px 3px 0px #26cffe;
  -webkit-box-shadow: 0px -1px 3px 0px #26cffe;
  -moz-box-shadow: 0px -1px 3px 0px #26cffe;
  text-shadow: 1px 1px 7px white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn:hover {
  color: #26cffe;
  background: white;
}

.btn-inverted {
  border: 2px solid white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-inverted:hover {
  color: white !important;
  background: #26cffe;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1024px) {
  .flex-column-1024 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: white;
}

header .navbar {
  width: 90%;
  margin: 1rem auto;
}

header .navbar .menu-toggler {
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

header .navbar .menu-toggler .bar {
  background: #345057;
  width: 40px;
  height: 6px;
  border-radius: 20px;
  margin: 0rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .navbar .menu-toggler .bar:nth-child(2) {
  margin: 0.2rem 0rem;
}

header .navbar .menu-toggler.active .bar:first-child {
  -webkit-transform: translate(1px, 10px) rotate(45deg);
          transform: translate(1px, 10px) rotate(45deg);
}

header .navbar .menu-toggler.active .bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .navbar .menu-toggler.active .bar:nth-child(2) {
  opacity: 0;
  margin: 0rem;
}

header .navbar .nav-menu .menu-item {
  padding: 0.5rem 1.5rem;
}

header .navbar .nav-menu .menu-item:hover .menu-link {
  color: white;
}

header .navbar .nav-menu .menu-item .menu-link {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .navbar .nav-menu .menu-item.active {
  color: white !important;
  background: #26cffe;
}

header .navbar .nav-menu .menu-item.active .menu-link {
  color: white;
}

header .dropdown {
  text-align: center;
  position: relative;
}

header .dropdown-openner {
  padding: 0;
  cursor: pointer;
}

header .dropdown-openner i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .dropdown-openner.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .dropdown-menu {
  opacity: 0;
  max-height: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 2;
  position: absolute;
  top: 3rem;
  width: 30vw;
  overflow: hidden;
  background: #26cffe !important;
  background: none;
}

header .dropdown-menu.active {
  opacity: 1;
  max-height: 100vh;
}

header .dropdown-menu .menu-item {
  background: none;
}

@media (max-width: 1440px) {
  header .navbar {
    width: 95%;
  }
}

@media (max-width: 1280px) {
  header .navbar .nav-menu .menu-item {
    font-size: 0.9rem;
    padding: 0.3rem 1rem;
  }
  header .navbar .nav-button {
    width: auto;
    border: 2px solid #26cffe;
    padding: 0.4rem 1.6rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@media (max-width: 1024px) {
  header .navbar .menu-toggler {
    display: inline;
  }
  header .navbar .nav-menu {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 4rem;
    left: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  header .navbar .nav-menu.active {
    overflow: auto;
    overflow-x: hidden;
    max-height: 80vh;
  }
  header .navbar .nav-menu .menu-item {
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
  header .navbar .nav-menu .dropdown {
    width: 100%;
  }
  header .navbar .nav-menu .dropdown-openner {
    width: 100%;
  }
  header .navbar .nav-menu .dropdown-menu {
    line-height: 1.3;
    width: 80vw;
    left: 10%;
    margin: auto;
    background: none;
  }
  header .navbar .nav-menu .dropdown-menu .menu-item {
    background: none;
  }
  header .navbar .nav-button {
    padding: 0.7rem 2rem;
  }
}

@media (max-width: 768px) {
  header .navbar .menu-item {
    padding: 0.8rem;
  }
  header .navbar .menu-item .menu-link {
    font-size: 1rem;
  }
  header .navbar .dropdown-menu {
    width: 100vw;
  }
  header .navbar .nav-button {
    font-size: 0.9rem;
    padding: 0.5rem 1.3rem;
  }
}

header.animate {
  background: none !important;
}

header.animate .navbar .menu-toggler .bar {
  background: white !important;
}

header.animate.active {
  background: white !important;
}

header.animate.active .navbar .menu-toggler .bar {
  background: #345057 !important;
}

@media (min-width: 1024px) {
  header.animate .navbar .menu-item .menu-link,
  header.animate .navbar .dropdown-openner {
    color: white !important;
  }
  header.animate.active .navbar .menu-item .menu-link,
  header.animate.active .navbar .dropdown-openner {
    color: #345057 !important;
  }
  header.animate.active .navbar .menu-item .menu-link:hover,
  header.animate.active .navbar .dropdown-openner:hover {
    color: white !important;
  }
  header.animate.active .navbar .menu-item.active .menu-link {
    color: white !important;
  }
  header.animate.active .navbar .dropdown .menu-link {
    color: white !important;
  }
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-height: 40vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.589)), to(rgba(0, 0, 0, 0.575))), url("../images/bg5.jpg") center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.575)), url("../images/bg5.jpg") center center fixed;
  background-repeat: no-repeat;
}

.welcome .section-head {
  width: 60%;
  margin: auto;
}

.welcome .section-head h1 {
  font-size: 2.6rem;
}

.welcome .section-head h3 {
  padding-bottom: 2rem;
  font-size: 1.4rem;
}

@media (max-height: 1000px) {
  .welcome {
    min-height: 70vh;
  }
}

@media (max-height: 600px) {
  .welcome {
    min-height: 110vh;
  }
}

@media (max-width: 1280px) {
  .welcome .section-head {
    width: 80%;
  }
  .welcome .section-head h1 {
    font-size: 2.2rem;
  }
  .welcome .section-head h3 {
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 680px) {
  .welcome .section-head {
    width: 90%;
  }
  .welcome .section-head h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .welcome {
    min-height: 65vh;
    padding-top: 8rem;
  }
}

@media (max-height: 480px) {
  .welcome {
    min-height: 120vh;
  }
}

.welcome {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.589)), to(rgba(0, 0, 0, 0.575))), url("../images/bg5.jpg") center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.575)), url("../images/bg5.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-memebers {
  font-size: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: 80%;
  margin: 6rem auto;
  text-align: center;
}

.team-memebers .item {
  padding: 2rem;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.team-memebers .item.hide {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.team-memebers .item.delay-1 {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.team-memebers .item.delay-2 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.team-memebers img {
  border-radius: 100%;
  margin-bottom: 0.6rem;
}

.team-memebers p {
  padding-top: 0.5rem;
  text-align: left;
}

.team-memebers .links {
  width: 60%;
  margin: 0.6rem auto;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-memebers .links a {
  color: white;
}

@media (max-width: 1024px) {
  .team-memebers {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .team-memebers {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.call-to-action {
  width: 50%;
  margin: 4rem auto;
  text-align: center;
}

.call-to-action p {
  font-size: 1.2rem;
}

.call-to-action form.signup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.call-to-action form.signup input,
.call-to-action form.signup button {
  outline: none;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.call-to-action form.signup button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.call-to-action form.signup input {
  width: 100%;
  background-color: white;
  cursor: text;
}

.call-to-action form.signup input:hover {
  color: #345057;
}

@media (max-width: 1024px) {
  .call-to-action {
    width: 70%;
  }
  .call-to-action p {
    font-size: 1rem;
  }
  .call-to-action input,
  .call-to-action button {
    outline: none;
    font-size: 1rem;
    margin-top: 2rem;
  }
}

@media (max-width: 520px) {
  .call-to-action {
    width: 95%;
  }
  .call-to-action h1 {
    font-size: 1.3rem;
  }
  .call-to-action p {
    font-size: 1rem;
  }
  .call-to-action input,
  .call-to-action button {
    outline: none;
    padding: 0.8rem 1.2rem;
    font-size: 0.8rem;
    margin-top: 2rem;
  }
}

footer {
  background-color: #345057;
  color: white !important;
}

footer a {
  color: white !important;
}

footer .footer-container {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
  margin-top: 2rem;
  padding: 4rem 1.7rem;
  line-height: 2;
}

footer .footer-container i {
  margin-right: 0.4rem;
}

footer .footer-container .head {
  font-size: 1.2rem;
}

@media (max-width: 1280px) {
  footer .footer-container {
    width: 95%;
  }
}

@media (max-width: 1024px) {
  footer .footer-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 520px) {
  footer .footer-container {
    font-size: 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer .footer-container li {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=team.css.map */