@import "./Vars";
@import "./Utilities";
@import "./components/header";
@import "./components/welcome";
.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.575)),
    url("../images/bg5.jpg") center center fixed;
  background-size: cover;

  background-repeat: no-repeat;
}
.team-memebers {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: 80%;
  margin: 6rem auto;
  text-align: center;
  .item {
    padding: 2rem;
    opacity: 1;
    transition: 0.4s;
    transform: translateY(0);
    &.hide {
      opacity: 0;
      transform: translateY(100px);
    }
    &.delay-1 {
      transition-delay: 0.1s;
    }
    &.delay-2 {
      transition-delay: 0.2s;
    }
  }
  img {
    border-radius: 100%;
    margin-bottom: 0.6rem;
  }
  p {
    padding-top: 0.5rem;
    text-align: left;
  }
  .links {
    a {
      color: $sub_color;
    }
    width: 60%;
    margin: 0.6rem auto;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
@import "./components/call_to_action";
@import "./components/footer";
